.comand {
        @extend %section;
    background-color: #f5f4fa;
}

.section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    margin-bottom: 10px;
}

.comand__title {
    display: flex;
    gap: 30px;
}

.team__member {
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    max-width: 270px;
}

.content-wrapp {
    padding: 30px 0;
    margin: 0;
    background: var(--white-color);
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    width: 270px;
}

.content-wrapp-pr {
    padding: 20px 24px;
    background: var(--white-color);
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.team__position {
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    color: var(--minor-text);
    margin-bottom: 16px;
}