.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding: 24px 0;
    border-bottom: 1px solid #ececec;

}

.header__nav {
    display: flex;
    align-items: center;
}

.nav-link {
    font-weight: 500;

    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--basic-text);
    padding: 32px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus,
    &:active{
            color: var(--akcent-color);
            }

    }

.link-navig {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
        margin-left: auto;
        gap: 50px;

            @media screen and (max-width: 767px) {
                    display: none;
                }
}

.contact {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--minor-text);
    &:hover,
    &:focus{
            color: var(--akcent-color);
    }

@media screen and (min-width: 768px) and (max-width: 1199px){
        font-size: 12px;
        line-height: 1.16;
        gap: 8px;
}
}

.header__contact-list{
    display: none;

    @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

@media screen and (min-width: 1200px){
    gap: 30px;
    flex-direction: row;
}
}

.contact-icon {
    fill: currentColor;
}
