.logo {
    margin-right: 93px;
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;

    color: #000000;

    justify-content: center;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
            color: var(--akcent-color);
    }
}

.logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    color: #ffffff;

    display: block;
    margin-bottom: 20px;
}
