.menu__open {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    padding: 0;
    margin-left: auto;

    background-color: transparent;
    border: none;
    cursor: pointer;
 

@media screen and (min-width: 768px) {
    display: none;
    }
}
.menu-close{
    display: flex;

    position: absolute;
    right: 20px;
    top: 20px;

    
    width: 40px;
    height: 40px;
    padding: 0;
    margin-left: auto;
    
    background-color: transparent;
    border: none;
    cursor: pointer;
    fill: currentColor;
    & :focus{
        fill: var(--akcent-color)
    }
}

.menu-container{

    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;


    width: 100%;
    height: 100%;

    padding: 48px 40px;

    background-color: #fff;

    transform: translateX(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open{
    transform: translateX(0);

    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu__socials{
    display: flex;
    align-items: center;
    >li:not(:last-child){border-right: 1px solid rgba(33, 33, 33, 0.2);}
} 


.menu__social-link{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;

    padding:0 10px;

}

.menu__navig{
    margin-bottom: auto;
    &>ul>li{
    padding-bottom: 32px;
    }

}

.menu__nav-link{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    text-align: center;
    letter-spacing: 0.02em;

}

.menu__tell{
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
    color: var(--akcent-color);

    margin-bottom: 32px;
}

.menu__mail{

        font-weight: 500;
        font-size: 24px;
        line-height: 1.166;
        letter-spacing: 0.02em;
        color: var(--minor-text);
    
        padding-bottom: 64px;
}